
@{
    ViewData["Title"] = "OKTest";
}


<script type="text/javascript">
    /*added code by Sunil Kumar at 27-03-2020*/
    $(document).ready(function () {
        Android.showToast("nativeapp");
    });
</script>



<h2>OKTest</h2>




<label>OKData:</label>  @ViewBag.NEwDataok
<label>OKData Rest Data:</label>  @ViewBag.RestSTring

